<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>node2</name>
  <description></description>
  <remoteFS>/home/ec2-user/</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.846.v1b_70190624f5">
    <host>20.19.18.16</host>
    <port>22</port>
    <credentialsId>c5d4f2e9-03b9-4a6e-9f9b-59ca4cca0e9a</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>label-c-project1</label>
  <nodeProperties/>
</slave>